{% extends 'base.html.twig' %}

{% block title %}Hello ArticleControlleurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Afficher tous les articles ✅</h1>

    {% for unarticle in touslesarticles %}
        //afficher un seul article
        {{ unarticle}} <br>

       <h2> Article suivant </h2> <br>

    {% endfor %}

</div>
{% endblock %}
